@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@import "./partials/fonts.css";
@import "./partials/scrollbar.css";
@import "./partials/spacing.css";
@import "./partials/utils.css";

@layer base {
  :root {
    --header-height-sm: 3.75rem; /* 60px */
    --header-height-md: 6.875rem; /* 110px */
    --header-height-lg: 7.5rem; /* 120px */
    --footer-height: 3.75rem; /* 60px */
  }
}

@theme {
  --font-sans: 'Chroma ST', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --color-black: #000000;
  --color-white: #ffffff;
  --color-accent: #a400ff;
  --color-silver: #828282;

  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-md: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.3125rem; /* 21px */
  --text-2xl: 1.4375rem; /* 23px */
  --text-3xl: 1.875rem; /* 30px */
}

strong, b {
  @apply font-medium;
}

article p:not(:last-child) {
  @apply mb-18;
}

article a {
  @apply underline underline-offset-2 hover:no-underline;
}

.privacy ul {
  @apply m-0 mb-18;
}

.privacy li {
  @apply m-0 p-0 pl-4 list-disc list-inside;
}
